.aboutBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0;
}

.aboutBlockText {
    max-width: 500px;
}

.aboutBlockImage {
    width: 40rem;
}

.introText {
    font-size: 120%;
}
