/***********************
 * COMPONENT OVERRIDES *
 ***********************/

/** Header Logo Start **/
header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration-color: white;
}
/** Header Logo End **/

/** Buttons Start **/
.buttonWrapper {
    margin: 0px 16px 0px 16px;
}

.buttonOverride {
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bold;
    text-transform: none;
    padding: 10px 24px 10px 24px;
    min-width: 120px;
    border: none;
}

.primaryButton {
    background-color: $primaryColor;
}

.primaryButton:hover {
    background-color: white;
    color: $primaryColor;
}

.secondaryButton {
    background-color: $fadedGrey;
}

.secondaryButton:hover {
    background-color: white;
    color: $fadedGrey;
}

.docs-next,
.docs-prev {
    font-family: 'Poppins', Arial, sans-serif;
    border-color: $secondaryColor;
    color: $secondaryColor;
}

.docs-next:hover,
.docs-prev:hover {
    background-color: $secondaryColor;
    color: white;
}
/** Buttons End **/

/** Nav Start **/
.nav-footer {
    background-color: $secondaryColor;
}
