/******************
 * COMMON STYLING *
 ******************/

.paddingBottom {
    padding-bottom: 16px;
}

.textMaxWidth {
    max-width: 500px;
}

.centeredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightBlock {
    background-color: $aboveForeground;
}

.overline {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    font-size: 120%;
}

/** Separator **/

.sepContainer {
    padding: 24px 0px;
    max-width: 150px;
}

.sep {
    height: 6px;
    border-radius: 5px;
    background-color: $primaryColor;
}
